

<html>

<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>

    <nav>
            <a href="/">Home</a>
            <!-- <a href="/books">Books</a>
            <a href="/authors">Authors</a> -->
    </nav>
    <div class="container">
        <h1 class="title-head">Welcome to Indian Library </h1>
        <div class="card-center">
            <div class="card-body">
                <h1 class="title-sub-head">Login</h1>
                <form action="/login" method="POST">
                    <div class="container">
                        <label for="user_name">User Name</label>
                        <input type="text" placeholder="User Name" id="username" name="username" class="input_box">

                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" id="password" name="password" class="input_box">
                        <input type="submit" id="btn_submit" name="btn_submit" value="Login" class="btn-submit">
                    </div>
                </form>
                <div  class="text-center">
                        <a href="/signupPage">Create New Account ?</a>
                </div>
                
            </div>
        </div>
    </div>


</body>

</html>